@font-face {
  font-family: "iconfont"; /* Project id 3964596 */
  src: url('iconfont.woff2?t=1679310347006') format('woff2'),
       url('iconfont.woff?t=1679310347006') format('woff'),
       url('iconfont.ttf?t=1679310347006') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wode-copy:before {
  content: "\e8a2";
}

.icon-zhuye1-copy:before {
  content: "\e8a3";
}

.icon-a14-copy:before {
  content: "\e8a4";
}

.icon-wode:before {
  content: "\e8a0";
}

.icon-zhuye1:before {
  content: "\e628";
}

.icon-a14:before {
  content: "\e615";
}

.icon-a04-copy:before {
  content: "\e8a5";
}

.icon-a04:before {
  content: "\e608";
}

